extends layout

block content
  h2 #{title}
  p I'm a SharePoint Consultant at a Large Indian IT Services Company. I play a role of Technical Architect for a Large US based customer. I love doing development and keeping in touch with what is latest in the market.
  p I've worked with almost all the versions of SharePoint starting from STS (2001) until SharePoint 2013. In addition I've worked in ASP .NET. I've special interest in frameworks like AngularJS, JQuery, NodeJS, Cordova, BootStrap, and many more :)
